<h1>Edit User</h1>

<%= form_with model: @user do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :job %><br>
    <%= form.text_area :job %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
